<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Book Detail</title>
    <%- include('../partials/head.ejs'); %>
        <!-- star  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- comment -->
        <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

        <style>
            .zoom {
                display: inline-block;
                position: relative;
            }
            
            .zoom:after {
                content: '';
                display: block;
                width: 33px;
                height: 33px;
                position: absolute;
                top: 0;
                right: 0;
                background: url(icon.html);
            }
            
            .zoom img {
                display: block;
            }
            
            .zoom img::selection {
                background-color: transparent;
            }
            
            #ex2 img:hover {
                cursor: url(grab.html), default;
            }
            
            #ex2 img:active {
                cursor: url(grabbed.html), default;
            }
            /* comment */
            
            form {
                padding: 10px 10px 10px 30px;
            }
            
            textarea {
                width: 100%;
            }
            
            div.stars {
                width: 212px;
                display: inline-block;
            }
            
            input.star {
                display: none;
            }
            
            label.star {
                float: right;
                padding: 10px;
                font-size: 24px;
                color: #444;
                transition: all .2s;
            }
            
            input.star:checked~label.star:before {
                content: '\f005';
                color: #FD4;
                transition: all .25s;
            }
            
            input.star-5:checked~label.star:before {
                color: #FD4;
            }
            
            input.star-1:checked~label.star:before {
                color: rgb(255, 0, 0);
            }
            
            input.star-2:checked~label.star:before {
                color: rgb(255, 78, 34);
            }
            
            input.star-3:checked~label.star:before {
                color: #F62;
            }
            
            input.star-4:checked~label.star:before {
                color: rgb(255, 178, 34);
            }
            
            label.star:hover {
                transform: rotate(-15deg) scale(1.3);
            }
            
            label.star:before {
                content: '\f006';
                font-family: FontAwesome;
            }
            /*
                Image credits:
                uifaces.com (http://uifaces.com/authorized)
            */
            
            .media .media-object {
                max-width: 50px;
            }
            
            .reviews {
                color: #555;
                font-weight: bold;
            }
            
            .media-body {
                position: relative;
            }
            
            .media-comment {
                margin: 10px 0 20px 0;
            }
            
            .btn-circle {
                font-weight: bold;
                font-size: 12px;
                padding: 2px 10px;
                border-radius: 20px;
            }
            
            .tab-content {
                padding: 50px 15px;
                border: 1px solid #ddd;
                border-top: 0;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            
            .well {
                width: 70%;
                padding: 10px;
            }
            
            .checked {
                color: #FD4;
            }
        </style>
</head>

<body>

    <div class="wrapper">
        <%- include('../partials/header.ejs'); %>
            <section id="content-holder" class="container-fluid container">
                <section class="row-fluid">
                    <div class="heading-bar">
                        <h2>Book Detail</h2>
                        <span class="h-line"></span>
                    </div>

                    <section class="span9 first">

                        <div class="blog-sec-slider">
                            <div class="slider5">
                                <div class="slide">
                                    <a href="#"><img src="images/banner5.png" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner1.jpg" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner6.jpg" alt="" /></a>
                                </div>
                            </div>
                        </div>


                        <section class="b-detail-holder">
                            <article class="title-holder">
                                <div class="span6">
                                    <h4><strong>The Kite Runner</strong> by Khalid Hosseini</h4>
                                </div>
                                <div class="span6 book-d-nav">
                                    <ul>
                                        <li><a href="#">2 Reviews</a></li>
                                        <li><i class="icon-envelope"></i><a href="#"> Email to a Friend</a></li>
                                    </ul>
                                </div>
                            </article>
                            <div class="book-i-caption">

                                <div class="span6 b-img-holder">
                                    <span class='zoom' id='ex1'> <img src='images/image26.jpg' height="219" width="300" id='jack' alt=''/></span>
                                </div>


                                <div class="span6">
                                    <strong class="title">Quick Overview</strong>
                                    <p>Vestibulum a velit at erat adipiscing volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget neque velit, suscipit volutpat ligula.</p>
                                    <p>Quisque diam arcu, dignissim nec molestie sed, pellentesque a augue. Nunc sed felis libero, vitae imperdiet risus in feugiat lectus vitae elit euismod rhoncus. Suspendisse potenti. </p>
                                    <p>Availability: <a href="#">In stock</a></p>
                                    <div class="comm-nav">
                                        <strong class="title2">Quantity</strong>
                                        <ul>
                                            <li><input name="" type="text" /></li>
                                            <li class="b-price">$68.00</li>
                                            <li><a href="cart.html" class="more-btn">+ Add to Cart</a></li>
                                        </ul>
                                        <a href="#">Add to Wishlist</a>
                                    </div>
                                </div>

                            </div>

                            <div class="tabbable">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#pane1" data-toggle="tab">Book Comments</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="row" id="post-review-box">
                                        <div class="col-md-12">
                                            <form accept-charset="UTF-8" action="" method="post">
                                                <div class="stars">
                                                    <input class="star star-5" id="star-5" type="radio" name="star" />
                                                    <label class="star star-5" for="star-5"></label>
                                                    <input class="star star-4" id="star-4" type="radio" name="star" />
                                                    <label class="star star-4" for="star-4"></label>
                                                    <input class="star star-3" id="star-3" type="radio" name="star" />
                                                    <label class="star star-3" for="star-3"></label>
                                                    <input class="star star-2" id="star-2" type="radio" name="star" />
                                                    <label class="star star-2" for="star-2"></label>
                                                    <input class="star star-1" id="star-1" type="radio" name="star" />
                                                    <label class="star star-1" for="star-1"></label>
                                                </div>
                                                <input id="ratings-hidden" name="rating" type="hidden">
                                                <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
                                                <div class="text-left">
                                                    <button class="btn btn-success btn-lg" type="submit">Send</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section>
                                <div class="container">
                                    <div class="row">
                                        <div class="comment-tabs">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="comments-logout">
                                                    <ul>
                                                        <li class="media">
                                                            <a class="pull-left" href="#">
                                                                <img class="media-object img-circle" src="images/icon.png" alt="profile">
                                                            </a>
                                                            <div class="media-body">
                                                                <div class="well well-lg">
                                                                    <div class="d-flex">
                                                                        <div class="col-md-3">
                                                                            <h4 class="media-heading text-uppercase reviews">Marco </h4>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <div class="stars">
                                                                                <span class="fa fa-star checked"></span>
                                                                                <span class="fa fa-star checked"></span>
                                                                                <span class="fa fa-star checked"></span>
                                                                                <span class="fa fa-star"></span>
                                                                                <span class="fa fa-star"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <em>22/09/2020</em>
                                                                    <p class="media-comment">
                                                                        Great snippet! Thanks for sharing.
                                                                    </p>
                                                                    <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                                                    <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyOne"><span class="glyphicon glyphicon-comment"></span> 2 comments</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="media">
                                                            <a class="pull-left" href="#">
                                                                <img class="media-object img-circle" src="images/icon.png" alt="profile">
                                                            </a>
                                                            <div class="media-body">
                                                                <div class="well well-lg">
                                                                    <div class="d-flex">
                                                                        <div class="col-md-3">
                                                                            <h4 class="media-heading text-uppercase reviews">Marco </h4>
                                                                        </div>
                                                                        <div class="col-md-9">
                                                                            <div class="stars">
                                                                                <span class="fa fa-star checked"></span>
                                                                                <span class="fa fa-star checked"></span>
                                                                                <span class="fa fa-star checked"></span>
                                                                                <span class="fa fa-star checked"></span>
                                                                                <span class="fa fa-star"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <em>22/09/2020</em>
                                                                    <p class="media-comment">
                                                                        Great snippet! Thanks for sharing.
                                                                    </p>
                                                                    <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
                                                                    <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyOne"><span class="glyphicon glyphicon-comment"></span> 2 comments</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="related-book">
                                <div class="heading-bar">
                                    <h2>Related Books</h2>
                                    <span class="h-line"></span>
                                </div>
                                <div class="slider6">
                                    <% for (let product of products) { %>
                                        <div class="slide">
                                            <a href="book-detail.html"><img src="images/<%= product.images %>" alt="" class="pro-img" /></a>
                                            <span class="title"><a href="book-detail.html"><%= product.nameProducts %></a></span>
                                            <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
                                            <div class="cart-price">
                                                <a class="cart-btn2" href="cart.html">Add to Cart</a>
                                                <span class="price"><%= product.price %></span>
                                                <span><%= product.cost %></span>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </section>
                        </section>
                    </section>
                    <%- include('../partials/sidebar.ejs'); %>
                </section>
            </section>
            <%- include('../partials/footer.ejs'); %>