<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>List View</title>
    <%- include('../partials/head.ejs'); %>
</head>

<body>

    <div class="wrapper">
        <%- include('../partials/header.ejs'); %>
            <section id="content-holder" class="container-fluid container">
                <section class="row-fluid">
                    <div class="heading-bar">
                        <h2>List View</h2>
                        <span class="h-line"></span>
                    </div>
                    <section class="span9 first">
                        <div class="blog-sec-slider">
                            <div class="slider5">
                                <div class="slide">
                                    <a href="#"><img src="images/banner5.png" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner1.jpg" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner6.jpg" alt="" /></a>
                                </div>
                            </div>
                        </div>


                        <div class="product_sort">
                            <div class="row-1">
                                <div class="left">
                                    <span class="s-title">Sort by</span>
                                    <span class="list-nav">
                                        <select name="">
                                        <option>Position</option>
                                        <option>Position 2</option>
                                        <option>Position 3</option>
                                        <option>Position 4</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="right">
                                    <span>Show</span>
                                    <span>
                                        <select name="">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        </select>
                                    </span>
                                    <span>per page</span>
                                </div>
                            </div>
                            <div class="row-2">
                                <span class="left">Items 1 to 9 of 15 total</span>
                                <ul class="product_view">
                                    <li>View as:</li>
                                    <li>
                                        <a class="grid-view" href="/grid-view">Grid View</a>
                                    </li>
                                    <li>
                                        <a class="list-view" href="/list-view">List View</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <section class="list-holder">
                            <% for (let product of products) { %>
                                <article class="item-holder">
                                    <div class="span2">
                                        <a href="/book-detail"><img src="images/<%= product.images %>" alt="Image07" /></a>
                                    </div>
                                    <div class="span10">
                                        <div class="title-bar">
                                            <a href="/book-detail">
                                                <%= product.nameProducts %>
                                            </a>
                                        </div>
                                        <strong>1 Reviews</strong>
                                        <span class="rating-bar"><img alt="Rating Star" src="images/rating-star.png"></span>
                                        <p>
                                            <%= product.description %>
                                        </p>
                                        <div class="cart-price">
                                            <a href="cart.html" class="cart-btn2">Add to Cart</a>
                                            <span class="price"><%= product.price %></span>
                                        </div>
                                    </div>
                                </article>
                                <% } %>

                        </section>
                        <div class="blog-footer">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                            <ul class="product_view">
                                <li>View as:</li>
                                <li><a class="grid-view" href="/grid-view">Grid View</a></li>
                                <li><a class="list-view" href="/list-view">List View</a></li>
                            </ul>
                        </div>
                    </section>
                    <%- include('../partials/sidebar.ejs'); %>
                </section>
            </section>
            <%- include('../partials/footer.ejs'); %>