<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Shop</title>
    <%- include('../partials/head.ejs'); %>
        <style>
            .span4:nth-child(3n) {
                margin-left: 0px!important;
            }
            
            .span4:nth-child(3n+1) {
                margin-bottom: 0px!important;
            }
        </style>
</head>

<body>

    <div class="wrapper">
        <%- include('../partials/header.ejs'); %>
            <section id="content-holder" class="container-fluid container">
                <section class="row-fluid">
                    <div class="heading-bar">
                        <h2>Grid View</h2>
                        <span class="h-line"></span>
                    </div>

                    <section class="span9 first">

                        <div class="blog-sec-slider">
                            <div class="slider5">
                                <div class="slide">
                                    <a href="#"><img src="images/banner5.png" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner7.jpg" alt="" /></a>
                                </div>
                                <div class="slide">
                                    <a href="#"><img src="images/banner6.jpg" alt="" /></a>
                                </div>
                            </div>
                        </div>


                        <div class="product_sort">
                            <div class="row-1">
                                <div class="left">
                                    <span class="s-title">Sort by</span>
                                    <span class="list-nav">
                                        <select name="">
                                        <option>All</option>
                                        <option>latest product</option>
                                        <option>prices range from low to high</option>
                                        <option>prices range from high to low</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="right">
                                    <span>Show</span>
                                    <span>
                                        <select name="">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        </select>
                                    </span>
                                    <span>per page</span>
                                </div>
                            </div>
                            <div class="row-2">
                                <span class="left">Items 1 to 9 of 15 total</span>
                                <ul class="product_view">
                                    <li>View as:</li>
                                    <li>
                                        <a class="grid-view" href="/grid-view">Grid View</a>
                                    </li>
                                    <li>
                                        <a class="list-view" href="/list-view">List View</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <section class="grid-holder features-books">
                            <% for (let product of products) { %>
                                <figure class="span4 slide">
                                    <a href="/book-detail"><img src="images/<%= product.images %>" alt="" class="pro-img" /></a>
                                    <span class="title"><a href="/book-detail"><%= product.nameProduct %></a></span>
                                    <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
                                    <div class="cart-price">
                                        <a class="cart-btn2" href="/cart">Add to Cart</a>
                                        <span class="price"><%= product.price %></span>
                                        <span><%= product.cost %></span>
                                    </div>
                                </figure>
                                <% } %>
                        </section>
                        <div class="blog-footer">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                            <ul class="product_view">
                                <li>View as:</li>
                                <li><a class="grid-view" href="/cart">Grid View</a></li>
                                <li><a class="list-view" href="/list-view">List View</a></li>
                            </ul>
                        </div>
                    </section>
                    <%- include('../partials/sidebar.ejs'); %>
                </section>
            </section>
            <%- include('../partials/footer.ejs'); %>